<div class="pure-g">
  <div class="pure-u-1">
    <h3 data-ng-bind="lang.title"></h3>
    <p data-ng-repeat="paragraph in lang.paragraphs" data-ng-bind="paragraph"></p>
  </div>
  <div id="messages" class="pure-u-1">
    <p data-ng-repeat="message in data.mobileSignIn.messages" data-ng-bind="message"></p>
    <p data-ng-repeat="message in data.mobileSignInAuth.messages" data-ng-bind="message"></p>
  </div>
  <div id="errors" class="pure-u-1">
    <p data-ng-repeat="error in data.errors" data-ng-bind="error"></p>
  </div>
  <div id="success" class="pure-u-1" data-ng-show="data.step === 'success'">
    <h3 data-ng-bind="lang.forms.all.messages.success"></h3>
    <div class="kw-button-group">
      <button class="pure-button" data-ng-bind="lang.forms.all.inputs.view.label"></button>
    </div>
  </div>
  <div id="actions" class="pure-u-1">
    <div data-ng-show="data.step === 'mobileSignInAuth'">
      <div class="kw-button-group">
        <button class="pure-button" data-ng-bind="lang.forms.all.inputs.reset.label" data-ng-click="reset()"></button>
        <button class="pure-button" data-ng-bind="lang.forms.all.inputs.resend.label"></button>
      </div>
    </div>
  </div>
  <div id="mobileSignIn" class="pure-u-1" data-ng-show="data.step === 'mobileSignIn'" data-ng-include src="'/components/signin/mobilesignin.html'">
  </div>
  <div id="mobileSignInAuth" class="pure-u-1" data-ng-show="data.step === 'mobileSignInAuth'" data-ng-include src="'/components/signin/mobilesigninauth.html'">
</div>
