<h2 data-ng-bind="lang.title"></h2>
<div class="pure-g">
  <div class="pure-u-1">
    <h3 data-ng-bind="lang.subtitle"></h3>
    <div class="art"></div>
    <p data-ng-repeat="paragraph in lang.paragraphs" data-ng-bind="paragraph"></p>
  </div>
  <div class="pure-u-1">
    <h3 data-ng-bind="lang.form.title"></h3>
    <form id="support" class="pure-form pure-form-stacked" name="support" novalidate>
      <div class="pure-g">
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.service.name}}" data-ng-bind="lang.form.inputs.service.label"></label>
          <select id="service" class="" name="service" data-ng-model="data.service" data-ng-options="item.value as item.label for item in lang.form.inputs.service.options.items" required autofocus>
            <option value="" data-ng-bind="lang.form.inputs.service.options.default" selected></option>
          </select>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.subject.name}}" data-ng-bind="lang.form.inputs.subject.label"></label>
          <select id="subject" class="" name="subject" data-ng-model="data.subject" data-ng-options="item.value as item.label for item in lang.form.inputs.subject.options.items" required>
            <option value="" data-ng-bind="lang.form.inputs.subject.options.default" selected></option>
          </select>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.name.name}}" data-ng-bind="lang.form.inputs.name.label"></label>
          <input type="text" id="name" name="name" placeholder="{{lang.form.inputs.name.placeholder}}" data-ng-model="data.name" required></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.last.name}}" data-ng-bind="lang.form.inputs.last.label"></label>
          <input type="text" id="last" name="last" placeholder="{{lang.form.inputs.last.placeholder}}" data-ng-model="data.last" required></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.email.name}}" data-ng-bind="lang.form.inputs.email.label"></label>
          <input type="email" id="email" name="email" placeholder="{{lang.form.inputs.email.placeholder}}" data-ng-model="data.email" required></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.mobile.name}}" data-ng-bind="lang.form.inputs.mobile.label"></label>
          <input type="text" id="mobile" name="mobile" placeholder="{{lang.form.inputs.mobile.placeholder}}" data-ng-model="data.mobile" data-ng-pattern="/\d{10}/" required></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.form.inputs.message.name}}" data-ng-bind="lang.form.inputs.message.label"></label>
          <textarea id="message" name="message" placeholder="{{lang.form.inputs.message.placeholder}}" rows=5 data-ng-model="data.message"></textarea>
        </div>
        <div class="pure-u-1">
          <button type="submit" class="pure-button pure-button-primary" data-ng-bind="lang.form.inputs.submit.label" data-ng-click="submit()"></button>
        </div>
        <div class="pure-u-1" data-ng-show="submitted && !support.$valid">
          <p data-ng-show="support.service.$error.required" data-ng-bind="lang.form.inputs.service.validation.required"></p>
          <p data-ng-show="support.subject.$error.required" data-ng-bind="lang.form.inputs.subject.validation.required"></p>
          <p data-ng-show="support.name.$error.required" data-ng-bind="lang.form.inputs.name.validation.required"></p>
          <p data-ng-show="support.last.$error.required" data-ng-bind="lang.form.inputs.last.validation.required"></p>
          <p data-ng-show="support.email.$error.required" data-ng-bind="lang.form.inputs.email.validation.required"></p>
          <p data-ng-show="support.email.$error.email" data-ng-bind="lang.form.inputs.email.validation.invalid"></p>
          <p data-ng-show="support.mobile.$error.required" data-ng-bind="lang.form.inputs.mobile.validation.required"></p>
          <p data-ng-show="support.mobile.$error.pattern" data-ng-bind="lang.form.inputs.mobile.validation.invalid"></p>
        </div>
      </div>
    </form>
  </div>
</div>
