<form id="location" class="pure-form pure-form-stacked" name="forms.location" novalidate>
  <div class="pure-g">
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.zip.name}}" data-ng-bind="lang.forms.location.inputs.zip.label"></label>
      <input type="text" name="zip" placeholder="{{lang.forms.location.inputs.zip.placeholder}}" maxlength="5" data-ng-model="ticket.zip" data-ng-pattern="/\d{5}/" data-ng-maxlength="5" data-ng-keyup="forms.location.zip.$valid && geoZip()" required autofocus>
    </div>
    <div class="pure-u-1" data-ng-show="(submitted && forms.location.$invalid) || (errors.zip)">
      <p data-ng-show="forms.location.zip.$error.required" data-ng-bind="lang.forms.location.inputs.zip.validation.required"></p>
      <p data-ng-show="forms.location.zip.$error.pattern || forms.location.zip.$error.maxlength" data-ng-bind="lang.forms.location.inputs.zip.validation.invalid"></p>
      <p data-ng-show="errors.zip" data-ng-bind="lang.forms.location.inputs.zip.validation.inexistent"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.state.name}}" data-ng-bind="lang.forms.location.inputs.state.label"></label>
      <select name="state" data-ng-model="ticket.state" data-ng-options="state.name as state.name for state in states" data-ng-change="geoState()" required>
        <option value="" data-ng-bind="lang.forms.location.inputs.state.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.state.$error.required" data-ng-bind="lang.forms.location.inputs.state.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.city.name}}" data-ng-bind="lang.forms.location.inputs.city.label"></label>
      <select name="city" data-ng-model="ticket.city" data-ng-options="municipality.name as municipality.name for municipality in municipalities" data-ng-change="geoCity()"required>
        <option value="" data-ng-bind="lang.forms.location.inputs.city.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.city.$error.required" data-ng-bind="lang.forms.location.inputs.city.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.district.name}}" data-ng-bind="lang.forms.location.inputs.district.label"></label>
      <select name="district" data-ng-model="ticket.district" data-ng-options="district.name as district.name for district in districts" data-ng-change="geoDistrict()"required>
        <option value="" data-ng-bind="lang.forms.location.inputs.district.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.district.$error.required" data-ng-bind="lang.forms.location.inputs.district.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.street.name}}" data-ng-bind="lang.forms.location.inputs.street.label"></label>
      <input type="text" name="street" placeholder="{{lang.forms.location.inputs.street.placeholder}}" data-ng-model="ticket.street" required>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.street.$error.required" data-ng-bind="lang.forms.location.inputs.street.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.number.name}}" data-ng-bind="lang.forms.location.inputs.number.label"></label>
      <input type="text" name="number" placeholder="{{lang.forms.location.inputs.number.placeholder}}" data-ng-model="ticket.number" required>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.number.$error.required" data-ng-bind="lang.forms.location.inputs.number.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.apt.name}}" data-ng-bind="lang.forms.location.inputs.apt.label"></label>
      <input type="text" name="apt" placeholder="{{lang.forms.location.inputs.number.placeholder}}" data-ng-model="ticket.apt">
    </div>
    <div class="pure-u-1">
      <label for="{{lang.forms.location.inputs.building.name}}" data-ng-bind="lang.forms.location.inputs.building.labelResidential" data-ng-show="ticket.service == 'Residential'"></label>
      <label for="{{lang.forms.location.inputs.building.name}}" data-ng-bind="lang.forms.location.inputs.building.labelBusiness" data-ng-show="ticket.service != 'Residential'"></label>
      <select name="building" data-ng-model="ticket.building" data-ng-options="item.value as item.label for item in lang.forms.location.inputs.building.options.items" required>
        <option value="" data-ng-bind="lang.forms.location.inputs.building.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid">
      <p data-ng-show="forms.location.building.$error.required" data-ng-bind="lang.forms.location.inputs.building.validation.required"></p>
    </div>
    <div class="pure-u-1" data-ng-show="ticket.building == 'building'">
      <label for="{{lang.forms.location.inputs.levels.name}}" data-ng-bind="lang.forms.location.inputs.levels.label"></label>
      <input type="text" name="levels" placeholder="{{lang.forms.location.inputs.levels.placeholder}}" maxlength="2" data-ng-model="ticket.levels" data-ng-maxlength="2" data-ng-pattern="/\d{1,2}/" data-ng-required="ticket.building === true">
    </div>
    <div class="pure-u-1" data-ng-show="submitted && forms.location.$invalid && (ticket.building === true)">
      <p data-ng-show="forms.location.levels.$error.required" data-ng-bind="lang.forms.location.inputs.levels.validation.required"></p>
      <p data-ng-show="forms.location.levels.$error.pattern || location.levels.$error.maxlength" data-ng-bind="lang.forms.location.inputs.levels.validation.invalid"></p>
    </div>
    <div class="pure-u-1">
      <pre>
        {{ ticket | json }}
      </pre>
    </div>
  </div>
</form>
