<div class="kw-content">
  <h2 data-ng-bind="lang.title"></h2>
  <div class="pure-g">
    <div class="pure-u-1">
      <h3 data-ng-bind="lang.subtitle"></h3>
      <p data-ng-repeat="paragraph in lang.paragraphs" data-ng-bind-html="paragraph"></p>
    </div>
    <div class="pure-u-1">
      <div id="apply" class="kw-section" data-ng-include src="'/app/company/apply/form.tpl.html'">
      </div>
    </div>
    <div class="pure-u-1">
      <div class="kw-button-group">
        <button class="pure-button" data-ng-class="{'pure-button-disabled': forms.apply.$invalid}" data-ng-disabled="forms.apply.$invalid" data-ng-bind="apply.inputs.submit.label" data-ng-click="submit()"></button>
      </div>
    </div>
  </div>
</div>
