<form id="apply" class="pure-form pure-form-stacked" name="forms.apply" novalidate>
  <div class="pure-g">
    <div class="pure-u-1">
      <label for="{{apply.inputs.subject.name}}" data-ng-bind="apply.inputs.subject.label"></label>
      <select name="subject" data-ng-model="ticket.subject" data-ng-change="updateType()" data-ng-options="item.value as item.label for item in apply.inputs.subject.options.items" required autofocus>
        <option value="" data-ng-bind="apply.inputs.subject.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.subject.$invalid">
      <p data-ng-show="forms.apply.subject.$error.required" data-ng-bind="apply.inputs.subject.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.location.name}}" data-ng-bind="apply.inputs.location.label"></label>
      <select name="location" data-ng-model="ticket.location" data-ng-options="item.value as item.label for item in apply.inputs.location.options.items" required>
        <option value="" data-ng-bind="apply.inputs.location.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.location.$invalid">
      <p data-ng-show="forms.apply.location.$error.required" data-ng-bind="apply.inputs.location.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.name.name}}" data-ng-bind="apply.inputs.name.label"></label>
      <input type="text" name="name" placeholder="{{apply.inputs.name.placeholder}}" data-ng-model="ticket.name" required>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.name.$error.required" data-ng-bind="apply.inputs.name.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.last.name}}" data-ng-bind="apply.inputs.last.label"></label>
      <input type="text" name="last" placeholder="{{apply.inputs.last.placeholder}}" data-ng-model="ticket.last" required>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.last.$error.required" data-ng-bind="apply.inputs.last.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.email.name}}" data-ng-bind="apply.inputs.email.label"></label>
      <input type="email" name="email" placeholder="{{apply.inputs.email.placeholder}}" data-ng-model="ticket.email" required>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.email.$error.required" data-ng-bind="apply.inputs.email.validation.required"></p>
      <p data-ng-show="forms.apply.email.$error.email" data-ng-bind="apply.inputs.email.validation.invalid"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.mobile.name}}" data-ng-bind="apply.inputs.mobile.label"></label>
      <input type="text" name="mobile" placeholder="{{apply.inputs.mobile.placeholder}}" maxlength="10" data-ng-model="ticket.mobile" data-ng-pattern="/\d{10}/" data-ng-maxlength="10" required>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.mobile.$error.required" data-ng-bind="apply.inputs.mobile.validation.required"></p>
      <p data-ng-show="forms.apply.mobile.$error.pattern || forms.apply.mobile.$error.maxlength" data-ng-bind="apply.inputs.mobile.validation.invalid"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.contact.name}}" data-ng-bind="apply.inputs.contact.label"></label>
      <select name="contact" data-ng-model="ticket.contact" data-ng-options="item.value as item.label for item in apply.inputs.contact.options.items" required>
        <option value="" data-ng-bind="apply.inputs.contact.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.contact.$invalid">
      <p data-ng-show="forms.apply.contact.$error.required" data-ng-bind="apply.inputs.contact.validation.required"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.education.name}}" data-ng-bind="apply.inputs.education.label"></label>
      <select name="education" data-ng-model="ticket.education" data-ng-options="item.value as item.label for item in apply.inputs.education.options.items" required>
        <option value="" data-ng-bind="apply.inputs.education.options.default" selected></option>
      </select>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.education.$error.required" data-ng-bind="apply.inputs.education.validation.required"></p>
    </div>
    <div class="pure-u-1" data-ng-show="ticket.education == 'Licenciatura' || ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      <div>
        <label for="{{apply.inputs.college.name}}" data-ng-bind="apply.inputs.college.label"></label>
        <input type="text" name="college" placeholder="{{apply.inputs.college.placeholder}}" data-ng-model="ticket.college" data-ng-required="ticket.education == 'Licenciatura' || ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.college.$error.required" data-ng-bind="apply.inputs.college.validation.required"></p>
      </div>
      <div>
        <label for="{{apply.inputs.collegeUrl.name}}" data-ng-bind="apply.inputs.collegeUrl.label"></label>
        <input type="url" name="collegeUrl" placeholder="{{apply.inputs.collegeUrl.placeholder}}" data-ng-model="ticket.collegeUrl" data-ng-required="ticket.education == 'Licenciatura' || ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.collegeUrl.$error.required" data-ng-bind="apply.inputs.collegeUrl.validation.required"></p>
        <p data-ng-show="forms.apply.collegeUrl.$error.url" data-ng-bind="apply.inputs.collegeUrl.validation.url"></p>
      </div>
    </div>
    <div class="pure-u-1" data-ng-show="ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      <div>
        <label for="{{apply.inputs.masters.name}}" data-ng-bind="apply.inputs.masters.label"></label>
        <input type="text" name="masters" placeholder="{{apply.inputs.masters.placeholder}}" data-ng-model="ticket.masters" data-ng-required="ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.masters.$error.required" data-ng-bind="apply.inputs.masters.validation.required"></p>
      </div>
      <div>
        <label for="{{apply.inputs.mastersUrl.name}}" data-ng-bind="apply.inputs.mastersUrl.label"></label>
        <input type="url" name="mastersUrl" placeholder="{{apply.inputs.mastersUrl.placeholder}}" data-ng-model="ticket.mastersUrl" data-ng-required="ticket.education == 'Maestría' || ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.mastersUrl.$error.required" data-ng-bind="apply.inputs.mastersUrl.validation.required"></p>
        <p data-ng-show="forms.apply.mastersUrl.$error.url" data-ng-bind="apply.inputs.mastersUrl.validation.url"></p>
      </div>
    </div>
    <div class="pure-u-1" data-ng-show="ticket.education == 'Doctorado'">
      <div>
        <label for="{{apply.inputs.phd.name}}" data-ng-bind="apply.inputs.phd.label"></label>
        <input type="text" name="phd" placeholder="{{apply.inputs.phd.placeholder}}" data-ng-model="ticket.phd" data-ng-required="ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.phd.$error.required" data-ng-bind="apply.inputs.phd.validation.required"></p>
      </div>
      <div>
        <label for="{{apply.inputs.phdUrl.name}}" data-ng-bind="apply.inputs.phdUrl.label"></label>
        <input type="url" name="phdUrl" placeholder="{{apply.inputs.phdUrl.placeholder}}" data-ng-model="ticket.phdUrl" data-ng-required="ticket.education == 'Doctorado'">
      </div>
      <div data-ng-show="forms.apply.submitted && forms.apply.$invalid">
        <p data-ng-show="forms.apply.phdUrl.$error.required" data-ng-bind="apply.inputs.phdUrl.validation.required"></p>
        <p data-ng-show="forms.apply.phdUrl.$error.url" data-ng-bind="apply.inputs.phdUrl.validation.url"></p>
      </div>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.experience.name}}" data-ng-bind="apply.inputs.experience.label"></label>
      <input type="number" name="experience" placeholder="{{apply.inputs.experience.placeholder}}" data-ng-model="ticket.experience" data-ng-maxlength="2" data-ng-pattern="/\d{1,2}/" required>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.experience.$error.required" data-ng-bind="apply.inputs.experience.validation.required"></p>
      <p data-ng-show="forms.location.experience.$error.pattern || location.experience.$error.maxlength" data-ng-bind="location.inputs.experience.validation.invalid"></p>
    </div>
    <div class="pure-u-1">
      <label for="{{apply.inputs.resume.name}}" data-ng-bind="apply.inputs.resume.label"></label>
      <button class="pure-button pure-button-primary" data-ng-bind="apply.inputs.upload.label"></button>
    </div>
    <!--
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.resume.$error.required" data-ng-bind="apply.inputs.resume.validation.required"></p>
    </div>
    -->
    <div class="pure-u-1">
      <label for="{{apply.inputs.message.name}}" data-ng-bind="apply.inputs.message.label"></label>
      <textarea name="message" placeholder="{{apply.inputs.message.placeholder}}" rows=5 data-ng-model="ticket.message" required></textarea>
    </div>
    <div class="pure-u-1" data-ng-show="forms.apply.submitted && forms.apply.$invalid">
      <p data-ng-show="forms.apply.message.$error.required" data-ng-bind="apply.inputs.message.validation.required"></p>
    </div>
  </div>
</form>
