<div class="kw-content" vcenter>
  <h2 data-ng-bind="lang.title"></h2>
  <div data-ng-repeat="section in lang.sections">
    <div data-ng-if="screen == 'lg' || screen == 'xl'">
      <div data-ng-if="$odd" class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 kw-art-container">
          <div>
            <i class="icon kw-icon-lg" data-ng-class="section.art"></i>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <h3 data-ng-bind="section.title"></h3>
          <h4 data-ng-bind="section.subtitle"></h4>
          <p data-ng-repeat="paragraph in section.paragraphs" data-ng-bind="paragraph"></p>
        </div>
      </div>
      <div data-ng-if="$even" class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
          <h3 data-ng-bind="section.title"></h3>
          <h4 data-ng-bind="section.subtitle"></h4>
          <p data-ng-repeat="paragraph in section.paragraphs" data-ng-bind="paragraph"></p>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 kw-art-container">
          <div>
            <i class="icon kw-icon-lg" data-ng-class="section.art"></i>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="screen == 'sm' || screen == 'md'">
      <div class="pure-u-1 pure-u-md-1-2 kw-art-container">
        <div>
          <i class="icon kw-icon-lg" data-ng-class="section.art"></i>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <h3 data-ng-bind="section.title"></h3>
        <h4 data-ng-bind="section.subtitle"></h4>
        <p data-ng-repeat="paragraph in section.paragraphs" data-ng-bind="paragraph"></p>
      </div>
    </div>
  </div>
</div>
