# --------------------
# Node 
# --------------------

node_modules

# --------------------
# Bower 
# --------------------

src/bower_components


# --------------------
# Parse 
# --------------------

cloud_code/cloud/auth.js
cloud_code/config/global.json
cloud_code/public

# --------------------
# API 
# --------------------

/src/common/services/auth.js

# --------------------
# Misc 
# --------------------
dist
.tmp
.sass-cache
