<div class="kw-content" vcenter>
  <h2 data-ng-bind="lang.title"></h2>
  <p data-ng-repeat="content in lang.tableOfContents"><a href="" data-ng-click="goTo(content.anchor)" data-ng-bind="content.title"></a></p>
    <div class="kw-section" data-ng-repeat="section in lang.sections">
      <h3 id="{{ section.anchor }}" data-ng-bind="section.title"></h3>
      <div data-ng-repeat="question in section.questions">
        <p><strong><span data-ng-bind="question.question"></span></strong></p>
        <div data-ng-repeat="answer in question.answer">
          <p data-ng-bind-html="answer"></p>
        </div>
      </div>
    </div>
  </div>
</div>
