<h2 data-ng-bind="lang.title"></h2>
<div class="pure-g">
  <div class="pure-u-1">
    <h3 data-ng-bind="lang.subtitle"></h3>
    <p data-ng-repeat="paragraph in lang.paragraphs" data-ng-bind="paragraph"></p>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 data-ng-bind="lang.sections.signIn.title"></h3>
    <p data-ng-repeat="paragraph in lang.sections.signIn.paragraphs" data-ng-bind="paragraph"></p>
    <div id="mobileSignIn" data-ng-show="data.mobileSignIn.active" >
      <form class="pure-form pure-form-stacked" name="mobileSignIn" data-ng-hide="data.mobileSignIn.submitted" novalidate>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignIn.inputs.mobile.name}}" data-ng-bind="lang.forms.mobileSignIn.inputs.mobile.label"></label>
            <input type="text" name="mobile" placeholder="{{lang.forms.mobileSignIn.inputs.mobile.placeholder}}" maxlength="10" data-ng-model="data.mobileSignIn.mobile" data-ng-pattern="/\d{10}/" data-ng-maxlength="10" required>
          </div>
          <div class="pure-u-1">
            <button type="submit" class="pure-button pure-button-primary" data-ng-class="{'pure-button-disabled': mobileSignIn.$invalid}" data-ng-disabled="mobileSignIn.$invalid" data-ng-bind="lang.forms.mobileSignIn.inputs.submit.label" data-ng-click="mobileSignInSubmit()"></button>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignIn.submitted && mobileSignIn.$invalid">
            <p data-ng-show="mobileSignIn.mobile.$error.required" data-ng-bind="lang.forms.mobileSignIn.inputs.mobile.validation.required"></p>
            <p data-ng-show="mobileSignIn.mobile.$error.pattern || mobileSignIn.mobile.$error.maxlength" data-ng-bind="lang.forms.mobileSignIn.inputs.mobile.validation.pattern"></p>
          </div>
        </div>
      </form>
      <div data-ng-show="data.mobileSignIn.error">
        <p data-ng-bind="lang.forms.mobileSignIn.messages.error"></p>
        <div>
          <button class="pure-button button-warning" data-ng-bind="lang.forms.mobileSignIn.inputs.reset.label" data-ng-click="resetMobileSignIn()"></button>
        </div>
      </div>
    </div>
    <div id="mobileSignInAuth" data-ng-show="data.mobileSignInAuth.active">
      <div>
        <p data-ng-bind="lang.forms.mobileSignIn.messages.submit"></p>
        <p data-ng-bind="lang.forms.mobileSignIn.messages.mobile"></p>
        <p data-ng-bind="data.mobileSignIn.mobile"></p>
        <div>
          <button class="pure-button button-warning" data-ng-bind="lang.forms.mobileSignIn.inputs.reset.label" data-ng-click="resetMobileSignInAuth()"></button>
          <button class="pure-button pure-button-primary" data-ng-bind="lang.forms.mobileSignIn.inputs.resend.label" data-ng-click="resendMobile()"></button>
        </div>
      </div>
      <form class="pure-form pure-form-stacked" name="mobileSignInAuth" novalidate>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignInAuth.inputs.password.name}}" data-ng-bind="lang.forms.mobileSignInAuth.inputs.password.label"></label>
            <input type="password" id="password" name="password" placeholder="{{lang.forms.mobileSignInAuth.inputs.password.placeholder}}" maxlength="4" data-ng-model="data.mobileSignInAuth.password" data-ng-maxlength="4" data-ng-pattern="/\d{4}/" data-ng-keypress="data.mobileSignInAuth.error = false" required>
          </div>
          <div class="pure-u-1">
            <button type="submit" class="pure-button button-success" data-ng-bind="lang.forms.mobileSignInAuth.inputs.authenticate.label" data-ng-class="{'pure-button-disabled': mobileSignInAuth.$invalid}" data-ng-disabled="mobileSignInAuth.$invalid" data-ng-click="mobileSignInAuthSubmit()"></button>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignInAuth.submitted && mobileSignInAuth.$invalid">
            <p data-ng-show="mobileSignInAuth.password.$error.required" data-ng-bind="lang.forms.mobileSignInAuth.inputs.password.validation.required"></p>
            <p data-ng-show="mobileSignInAuth.password.$error.pattern || mobileSignInAuth.password.$error.maxlength" data-ng-bind="lang.forms.mobileSignInAuth.inputs.password.validation.pattern"></p>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignInAuth.error">
            <p data-ng-bind="lang.forms.mobileSignInAuth.messages.error"></p>
          </div>
        </div>
      </form>
    </div>
    <div id="mobileSignInAuthSuccess" data-ng-show="data.mobileSignInAuth.success">
      <p data-ng-bind="lang.forms.mobileSignInAuth.messages.success"></p>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 data-ng-bind="lang.sections.signUp.title"></h3>
    <p data-ng-repeat="paragraph in lang.sections.signUp.paragraphs" data-ng-bind="paragraph"></p>
    <div id="serialLookUp" data-ng-show="data.serialLookUp.active">
      <form class="pure-form pure-form-stacked" name="serialLookUp" data-ng-hide="data.serialLookUp.submitted" novalidate>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="{{lang.forms.serialLookUp.inputs.serial.name}}" data-ng-bind="lang.forms.serialLookUp.inputs.serial.label"></label>
            <input type="text" name="serial" placeholder="{{lang.forms.serialLookUp.inputs.serial.placeholder}}" maxlength="12" data-ng-model="data.serialLookUp.serial" data-ng-pattern="/\d{12}/" data-ng-maxlength="12" required>
          </div>
          <div class="pure-u-1">
            <button type="submit" class="pure-button pure-button-primary" data-ng-class="{'pure-button-disabled': serialLookUp.$invalid}" data-ng-disabled="serialLookUp.$invalid" data-ng-bind="lang.forms.serialLookUp.inputs.submit.label" data-ng-click="serialLookUpSubmit()"></button>
          </div>
          <div class="pure-u-1" data-ng-show="data.serialLookUp.submitted && serialLookUp.$invalid">
            <p data-ng-show="serialLookUp.serial.$error.required" data-ng-bind="lang.forms.serialLookUp.inputs.serial.validation.required"></p>
            <p data-ng-show="serialLookUp.serial.$error.pattern || serialLookUp.serial.$error.maxlength" data-ng-bind="lang.forms.serialLookUp.inputs.serial.validation.pattern"></p>
          </div>
        </div>
      </form>
      <div data-ng-show="data.serialLookUp.submitted && serialLookUp.$valid">
        <div data-ng-show="data.serialLookUp.client && data.serialLookUp.user">
          <p data-ng-bind="lang.forms.serialLookUp.messages.foundUnavailable"></p>
          <p data-ng-bind="lang.forms.serialLookUp.messages.client"></p>
          <p data-ng-bind="data.serialLookUp.client.name"></p>
          <p data-ng-bind="lang.forms.serialLookUp.messages.user"></p>
          <p data-ng-bind="data.serialLookUp.user.name + ' ' + data.serialLookUp.user.last"></p>
          <p data-ng-bind="lang.forms.serialLookUp.messages.reset"></p>
        </div>
        <div data-ng-show="!data.serialLookUp.client">
          <p data-ng-bind="lang.forms.serialLookUp.messages.notFound"></p>
          <p data-ng-bind="lang.forms.serialLookUp.messages.reset"></p>
        </div>
        <div>
          <button class="pure-button button-warning" data-ng-bind="lang.forms.serialLookUp.inputs.reset.label" data-ng-click="resetSerialLookUp()"></button>
        </div>
      </div>
    </div>
    <div id="mobileSignUp" data-ng-show="data.mobileSignUp.active" >
      <div>
        <p data-ng-bind="lang.forms.serialLookUp.messages.foundAvailable"></p>
        <p data-ng-bind="lang.forms.serialLookUp.messages.client"></p>
        <p data-ng-bind="data.serialLookUp.client.name"></p>
        <p data-ng-bind="lang.forms.serialLookUp.messages.continue"></p>
        <div>
          <button class="pure-button button-warning" data-ng-bind="lang.forms.serialLookUp.inputs.reset.label" data-ng-click="resetSerialLookUp()"></button>
        </div>
      </div>
      <form class="pure-form pure-form-stacked" name="mobileSignUp" novalidate>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignUp.inputs.name.name}}" data-ng-bind="lang.forms.mobileSignUp.inputs.name.label"></label>
            <input type="text" name="name" placeholder="{{lang.forms.mobileSignUp.inputs.name.placeholder}}" data-ng-model="data.mobileSignUp.name" required>
          </div>
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignUp.inputs.last.name}}" data-ng-bind="lang.forms.mobileSignUp.inputs.last.label"></label>
            <input type="text" name="last" placeholder="{{lang.forms.mobileSignUp.inputs.last.placeholder}}" data-ng-model="data.mobileSignUp.last" required>
          </div>
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignUp.inputs.mobile.name}}" data-ng-bind="lang.forms.mobileSignUp.inputs.mobile.label"></label>
            <input type="text" name="mobile" placeholder="{{lang.forms.mobileSignUp.inputs.mobile.placeholder}}" maxlength="10" data-ng-model="data.mobileSignUp.mobile" data-ng-pattern="/\d{10}/" data-ng-maxlength="10" required>
          </div>
          <div class="pure-u-1">
            <button type="submit" class="pure-button pure-button-primary" data-ng-class="{'pure-button-disabled': mobileSignUp.$invalid}" data-ng-disabled="mobileSignUp.$invalid" data-ng-bind="lang.forms.mobileSignUp.inputs.submit.label" data-ng-click="mobileSignUpSubmit()"></button>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignUp.submitted && mobileSignUp.$invalid">
            <p data-ng-show="mobileSignUp.name.$error.required" data-ng-bind="lang.forms.mobileSignUp.inputs.name.validation.required"></p>
            <p data-ng-show="mobileSignUp.last.$error.required" data-ng-bind="lang.forms.mobileSignUp.inputs.last.validation.required"></p>
            <p data-ng-show="mobileSignUp.mobile.$error.required" data-ng-bind="lang.forms.mobileSignUp.inputs.mobile.validation.required"></p>
            <p data-ng-show="mobileSignUp.mobile.$error.pattern || mobileSignUp.mobile.$error.maxlength" data-ng-bind="lang.forms.mobileSignUp.inputs.mobile.validation.pattern"></p>
          </div>
        </div>
      </form>
    </div>
    <div id="mobileSignUpAuth" data-ng-show="data.mobileSignUpAuth.active">
      <div>
        <p data-ng-bind="lang.forms.mobileSignUp.messages.submit"></p>
        <p data-ng-bind="lang.forms.mobileSignUp.messages.mobile"></p>
        <p data-ng-bind="data.mobileSignUp.mobile"></p>
        <div>
          <button class="pure-button button-warning" data-ng-bind="lang.forms.mobileSignUp.inputs.reset.label" data-ng-click="resetMobileSignUp()"></button>
          <button class="pure-button pure-button-primary" data-ng-bind="lang.forms.mobileSignUp.inputs.resend.label" data-ng-click="resendMobile()"></button>
        </div>
      </div>
      <form class="pure-form pure-form-stacked" name="mobileSignUpAuth" novalidate>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="{{lang.forms.mobileSignUpAuth.inputs.password.name}}" data-ng-bind="lang.forms.mobileSignUpAuth.inputs.password.label"></label>
            <input type="password" name="password" placeholder="{{lang.forms.mobileSignUpAuth.inputs.password.placeholder}}" maxlength="4" data-ng-model="data.mobileSignUpAuth.password" data-ng-maxlength="4" data-ng-pattern="/\d{4}/" data-ng-keypress="data.mobileSignUpAuth.error = false" required>
          </div>
          <div class="pure-u-1">
            <button type="submit" class="pure-button button-success" data-ng-bind="lang.forms.mobileSignUpAuth.inputs.authenticate.label" data-ng-class="{'pure-button-disabled': mobileSignUpAuth.$invalid}" data-ng-disabled="mobileSignUpAuth.$invalid" data-ng-click="mobileSignUpAuthSubmit()"></button>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignUpAuth.submitted && mobileSignUpAuth.$invalid">
            <p data-ng-show="mobileSignUpAuth.password.$error.required" data-ng-bind="lang.forms.mobileSignUpAuth.inputs.password.validation.required"></p>
            <p data-ng-show="mobileSignUpAuth.password.$error.pattern || mobileSignUpAuth.password.$error.maxlength" data-ng-bind="lang.forms.mobileSignUpAuth.inputs.password.validation.pattern"></p>
          </div>
          <div class="pure-u-1" data-ng-show="data.mobileSignUpAuth.error">
            <p data-ng-bind="lang.forms.mobileSignUpAuth.messages.error"></p>
          </div>
        </div>
      </form>
    </div>
    <div id="mobileSignUpAuthSuccess" data-ng-show="data.mobileSignUpAuth.success">
      <p data-ng-bind="lang.forms.mobileSignUpAuth.messages.success"></p>
    </div>
  </div>
</div>
