/*
 * Elements
*/

html, body { 
  height: 100%; 
  overflow: hidden;
  color: #ffffff;
}

a {
  color: #ffffff;
}

/*
 * Pages
*/

#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 50;
}

.video-show {
  opacity: 1;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
}

.video-show.ng-hide {
  opacity: 0;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ration: 16/9) {
  #video-bg > video {
    height: 300%;
    top: -100%;
  }
}

@media (min-aspect-ration: 16/9) {
  #video-bg > video {
    width: 300%;
    left: -100%;
  }
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.kw-bg {
  background: no-repeat fixed;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.kw-menu {
  overflow: hidden;
}

.kw-menu ul {
  position: relative;
  top: 0;
  left: 0;
  visibility: visible;
}

.kw-menu-transition {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.kw-header {
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #191818;
}

.kw-header-home {
  background-color: rgba(0, 0, 0, 0);
}

.kw-header p {
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 110%;
  color: #ffffff;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
  margin: 0;
}

#kw-container {
  z-index: 100;
}

.kw-perspective {
	position: relative;
	width: 100%;
	height: 100%;
  overflow-y: hidden;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.kw-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 2.1em;
	left: 0;
	visibility: hidden;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.kw-page-current,
.no-js .kw-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.kw-page-ontop {
	z-index: 999;
}

.active {
  left: 150px;
}

.kw-content {
  max-width: 960px;
  margin: 0 auto 4em auto;
  padding: 0 2em;
}

/*
 * Forms 
*/

.kw-input {
  margin: 0.5em auto;
  max-width: 16em;
  width: 100%;
}

.pure-form-stacked label, .pure-form-stacked p {
  text-align: center;
}

.pure-form-stacked input[type='text'], 
.pure-form-stacked input[type='number'], 
.pure-form-stacked input[type='email'], 
.pure-form-stacked input[type='url'], 
.pure-form-stacked input[type='password'], 
.pure-form-stacked textarea, 
.pure-form-stacked select {
  margin: 0.5em auto;
  max-width: 16em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  box-shadow: none;
}

/*
 * Animations
 */

[ui-view].slideUp.ng-enter {
	overflow: hidden;
	-webkit-animation: moveFromBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveFromBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideUp.ng-leave {
	overflow: hidden;
	-webkit-animation: moveToTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveToTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideDown.ng-enter {
	overflow: hidden;
	-webkit-animation: moveFromTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveFromTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideDown.ng-leave {
	overflow: hidden;
	-webkit-animation: moveToBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveToBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideLeft.ng-enter {
	overflow: hidden;
	-webkit-animation: moveFromRight cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveFromBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideLeft.ng-leave {
	overflow: hidden;
	-webkit-animation: moveToLeft cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveToTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideRight.ng-enter {
	overflow: hidden;
	-webkit-animation: moveFromLeft cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveFromTop cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].slideRight.ng-leave {
	overflow: hidden;
	-webkit-animation: moveToRight cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
	animation: moveToBottom cubic-bezier(0.4, 0, 0.2, 1) 0.6s both;
}

[ui-view].rotateCubeUp.ng-enter {
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateCubeBottomIn .6s both ease-in;
	animation: rotateCubeBottomIn .6s both ease-in;
}

[ui-view].rotateCubeUp.ng-leave {
	overflow: hidden;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeBottomOut .6s both ease-in;
	animation: rotateCubeBottomOut .6s both ease-in;
}

[ui-view].rotateCubeDown.ng-enter {
	overflow: hidden;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeTopIn .6s both ease-in;
	animation: rotateCubeTopIn .6s both ease-in;
}

[ui-view].rotateCubeDown.ng-leave {
	overflow: hidden;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateCubeTopOut .6s both ease-in;
	animation: rotateCubeTopOut .6s both ease-in;
}

/*
 * Buttons
 */

.pure-button {
  color: #ffffff;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ffffff;
  max-width: 8em;
  width: 100%;
}

.pure-button:hover {
  color: #000000;
  background-color: rgba(255,255,255,1);
}

.pure-button-disabled {
  color: #000000;
  background-color: rgba(255,255,255,1);
}

.kw-button-group {
  text-align: center;
}

.kw-button-group button,
.kw-button-group a {
  margin: 0.5em;
}

/*
 * Text
*/

.kw-home, .kw-services, .kw-residential, .kw-business, .kw-dedicated, .kw-metromesh {
  text-align: center;
}

.kw-services ul, .kw-residential ul, .kw-business ul, .kw-dedicated ul, .kw-metromesh ul {
  display: inline-block;
  list-style-type: none;
}

.kw-services li, .kw-residential li, .kw-business li, .kw-dedicated li, .kw-metromesh li {
  text-align: left;
}

.kw-content li:before {
  font-family: 'Ionicons';
  content: "\f16d";
  float: left;
  width: 1.4em;
}

.kw-icon-lg {
  font-size: 12em;
}

.kw-icon-md {
  font-size: 6em;
}

.kw-icon-sm {
  font-size: 3em;
}

.kw-art-container {
  display: flex;
}

.kw-art-container > div {
  margin: auto;
}

.kw-section h1,
.kw-section h2,
.kw-section h3,
.kw-section h4,
.kw-section h5,
.kw-section h6 {
  text-align: center;
}

.kw-section {
  padding: 0 1em;
}

.kw-mailto {
  font-size: 0.8em;
}

/*
 * Side Menu
*/

#menu {
  width: 150px;
  position: fixed;
  top: 0;
  left: -150px;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu.active {
  left: 0;
}

/*
All anchors inside the menu should be styled like this.
 */

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

#menu a.menu-header {
  color: #ffffff;
}

/*
Remove all background/borders, since we are applying them to #menu.
 */

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
Add that light border to separate items into groups.
 */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/*
Change color of the anchor links on hover/focus.
 */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
This styles the selected menu item `<li>`.
 */

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
  background: #ca2a90;
}

/*
This styles a link within a selected menu item `<li>`.
 */

#menu .pure-menu-selected a {
  color: #fff;
}

/*
This styles the menu heading.
 */

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}
