/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
 */

#menu {
  width: 150px;
  position: fixed;
  top: 0;
  left: -150px;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menu.active {
  left: 0;
}

/*
All anchors inside the menu should be styled like this.
 */

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

#menu a.menu-header {
  color: #ffffff;
}

/*
Remove all background/borders, since we are applying them to #menu.
 */

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
Add that light border to separate items into groups.
 */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}

/*
Change color of the anchor links on hover/focus.
 */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
This styles the selected menu item `<li>`.
 */

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
  background: #ca2a90;
}

/*
This styles a link within a selected menu item `<li>`.
 */

#menu .pure-menu-selected a {
  color: #fff;
}

/*
This styles the menu heading.
 */

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}
