h1, h3, h5, p {
  font-family: 'Droid Serif', serif;
}

h2, h4, h6, li {
  font-family: 'Roboto', sans-serif;
}

.kw-home, .kw-services, .kw-residential, .kw-business, .kw-dedicated, .kw-metromesh {
  text-align: center;
}

.kw-services ul, .kw-residential ul, .kw-business ul, .kw-dedicated ul, .kw-metromesh ul {
  display: inline-block;
}

.kw-services li, .kw-residential li, .kw-business li, .kw-dedicated li, .kw-metromesh li {
  text-align: left;
}

.kw-icon-lg {
  font-size: 12em;
}

.kw-icon-md {
  font-size: 6em;
}

.kw-icon-sm {
  font-size: 3em;
}

.kw-about-art {
  text-align: center;
}

.kw-section h1,
.kw-section h2,
.kw-section h3,
.kw-section h4,
.kw-section h5,
.kw-section h6 {
  text-align: center;
}

.kw-section {
  padding: 0 1em;
}

.kw-mailto {
  font-size: 0.8em;
}
