<h2 data-ng-bind="lang.title"></h2>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 data-ng-bind="lang.subtitle"></h3>
    <div class="art"></div>
    <p data-ng-repeat="paragraph in lang.paragraphs" data-ng-bind="paragraph"></p>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 data-ng-bind="lang.supportForm.title"></h3>
    <form id="{{lang.supportForm.name}}" class="pure-form pure-form-stacked" name="{{lang.supportForm.name}}">
      <div class="pure-g">
        <div class="pure-u-1">
          <label for="{{lang.supportForm.inputs.name.name}}" data-ng-bind="lang.supportForm.inputs.name.label"></label>
          <input type="text" id="{{lang.supportForm.inputs.name.name}}" name="{{lang.supportForm.inputs.name.name}}" placeholder="{{lang.supportForm.inputs.name.placeholder}}"></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.supportForm.inputs.email.name}}" data-ng-bind="lang.supportForm.inputs.email.label"></label>
          <input type="email" id="{{lang.supportForm.inputs.email.name}}" name="{{lang.supportForm.inputs.email.name}}" placeholder="{{lang.supportForm.inputs.email.placeholder}}"></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.supportForm.inputs.mobile.name}}" data-ng-bind="lang.supportForm.inputs.mobile.label"></label>
          <input type="email" id="{{lang.supportForm.inputs.mobile.name}}" name="{{lang.supportForm.inputs.mobile.name}}" placeholder="{{lang.supportForm.inputs.mobile.placeholder}}"></input>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.supportForm.inputs.subject.name}}" data-ng-bind="lang.supportForm.inputs.subject.label"></label>
          <select id="{{lang.supportForm.inputs.subject.name}}" class="" name="{{lang.supportForm.inputs.subject.name}}" data-ng-model="data.subject" data-ng-options="item as item.label for item in lang.supportForm.inputs.subject.options.items">
            <option value="" data-ng-bind="lang.supportForm.inputs.subject.options.default" selected></option>
          </select>
        </div>
        <div class="pure-u-1">
          <label for="{{lang.supportForm.inputs.message.name}}" data-ng-bind="lang.supportForm.inputs.message.label"></label>
          <textarea id="{{lang.supportForm.inputs.message.name}}" name="{{lang.supportForm.inputs.message.name}}" placeholder="{{lang.supportForm.inputs.message.placeholder}}"></textarea>
        </div>
        <button type="submit" class="pure-button pure-button-primary" data-ng-bind="lang.supportForm.inputs.submit.label"></button>
      </div>
    </form>
  </div>
</div>
