<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 data-ng-app='kiwiWeb'"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" data-ng-app='kiwiWeb'> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" data-ng-app='kiwiWeb'> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" data-ng-app="kiwiWeb" data-ng-controller="AppCtrl"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title data-ng-bind="title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/pure/base.css">
        <link rel="stylesheet" href="bower_components/pure/grids.css">
        <link rel="stylesheet" href="bower_components/pure/grids-responsive.css">
        <link rel="stylesheet" href="bower_components/pure/menus.css">
        <link rel="stylesheet" href="bower_components/pure/buttons.css">
        <link rel="stylesheet" href="bower_components/pure/forms.css">
        <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/text.css">
        <link rel="stylesheet" href="styles/animations.css">
        <link rel="stylesheet" href="styles/side-menu.css">
        <!-- endbuild -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Roboto:400,100' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="menu" data-ng-class="{ 'active' : menu.active }">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" data-ui-sref="/home" data-ng-bind="menu.title"></a>
        <ul>
          <li data-ng-repeat="section in menu.sections">
            <a class="menu-header" data-ng-bind="section.label" data-ng-click="menuSectionToggle(section)"></a>
            <div class="menu-item-divided" data-ng-class="{ 'pure-menu pure-menu-open': section.visible }">
              <ul>
                <li data-ng-repeat="option in section.sections">
                  <a ng-if="option.uiSref" data-ui-sref="{{ option.uiSref }}" data-ng-bind="option.label"></a>
                  <a ng-if="option.href" href="{{ option.href }}" data-ng-bind="option.label" target="{{ option.target }}"></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="kw-header" data-ng-class="{ 'active' : menu.active }">
      <p data-ng-click="menuToggle()">
      <i class="icon" data-ng-class="{ 'ion-close-round' : menu.active, 'ion-navicon-round' : !menu.active }"></i>
        Kiwi Networks
      </p>
    </div>

    <div class="kw-perspective">
      <div class="kw-page kw-page-current" data-ng-class="[styles.page, styles.transition]" ui-view></div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="common/app.js"></script>
    <script src="common/router.js"></script>
    <script src="common/services/transition.js"></script>
    <script src="common/services/routes.js"></script>
    <script src="common/services/menu.js"></script>
    <script src="common/services/auth.js"></script>
    <script src="common/services/mxPostApi.js"></script>
    <script src="common/services/kiwiWebApi.js"></script>
    <script src="common/filters/capitalize.js"></script>
    <script src="app/home/home.js"></script>
    <script src="app/products/products.js"></script>
    <script src="app/products/residential/residential.js"></script>
    <script src="app/products/business/business.js"></script>
    <script src="app/products/dedicated/dedicated.js"></script>
    <script src="app/products/metromesh/metromesh.js"></script>
    <script src="app/products/faq/faq.js"></script>
    <script src="app/products/sales/sales.js"></script>
    <script src="app/company/about/about.js"></script>
    <script src="app/company/concesion/concesion.js"></script>
    <script src="app/company/careers/careers.js"></script>
    <script src="app/company/apply/apply.js"></script>
    <script src="app/company/stories/stories.js"></script>
    <script src="app/company/privacy/privacy.js"></script>
    <script src="app/company/unsubscribe/unsubscribe.js"></script>
    <script src="app/contact/contact.js"></script>
    <script src="app/customer/dashboard/dashboard.js"></script>
    <script src="app/customer/signUp/signUp.js"></script>
    <script src="app/customer/signIn/signIn.js"></script>
    <script src="app/customer/pay/pay.js"></script>
    <script src="app/customer/refer/refer.js"></script>
    <script src="app/support/support.js"></script>
    <script src="app/support/status/status.js"></script>
    <!-- endbuild -->

  </body>
</html>
